@import url("./variables.css");

@media (min-width: 100px) {
    .fixed-nav .navbar .nav {
        display: none;
    }
    main .intro-section ul.btn-links {
        display: none;
    }
}
@media (min-width: 300px) {
    .fixed-nav {
        background-color: var(--darkColor);
        position: fixed;
        top: 0;
        width: 100%;
        height: 60px;
        z-index: 100;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .fixed-nav .navbar {
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .fixed-nav .navbar .nav .btn-links {
        display: none;
    }

    .ham {
        width: 30px;
        height: 30px;
        right: 0;
        z-index: 150;
    }
    .ham:hover {
        cursor: pointer;
    }
    .ham .ham-inner {
        display: inline-block;
        width: 30px;
        height: 2px;
        background-color: var(--skinColor);
        position: relative;
    }
    .ham .ham-inner::before,
    .ham .ham-inner::after {
        content: "";
        height: 2px;
        position: absolute;
        background-color: var(--skinColor);
    }
    .ham .ham-inner::before {
        width: 120%;
        top: -10px;
        right: 0;
        transition: all 0.2s ease-in-out;
    }
    .ham .ham-inner::after {
        width: 80%;
        top: 10px;
        right: 0;
        transition: top 0.3s ease-in-out, transform 0.3s 0.3s ease-in-out;
    }
    .ham.menu-hamberger .ham-inner {
        height: 0px;
    }
    .ham.menu-hamberger .ham-inner::after,
    .ham.menu-hamberger .ham-inner::before {
        width: 100%;
        top: 50%;
        transition: top 0.3s ease-in-out, transform 0.3s 0.3s ease-in-out;
    }
    .ham.menu-hamberger .ham-inner::after {
        transform: rotate(-45deg);
    }
    .ham.menu-hamberger .ham-inner::before {
        transform: rotate(45deg);
    }
    /* Small Screen navbar */
    .sidebar {
        position: fixed;
        top: -10px;
        right: -500px;
        width: 200px;
        height: 800px;
        background-color: var(--darkLighter);
        color: #fff;
        transition: all 0.3s;
        z-index: 101;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .show-sidebar {
        right: 0px;
    }
    .sidebar .sidebar-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        margin-top: 20px;
    }

    .sidebar .sidebar-nav .nav-item {
        font-size: 1.3em;
        font-weight: 400;
        margin-top: 20px;
    }
    /* Main */
    main {
        margin: auto;
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
    }
    /* Intro Section */
    .intro-section {
        display: flex;
        justify-content: space-between;
        padding-top: 80px;
        padding-bottom: 50px;
    }
    .intro-section .intro {
        padding-left: 0px;
        max-width: 100%;
        margin: auto;
    }
    .intro-section .intro div:first-child .profession {
        display: flex;
        justify-content: center;
    }
    .intro-section .intro div:first-child .profession .slide-bg {
        display: flex;
        justify-content: center;
        background-color: var(--skinColor);
        padding: 8px 15px;
        border-radius: 5px;
        color: var(--darkColor);
        /* display: inline-block; */
        min-height: 20px;
        line-height: 20px;
    }

    .intro-section .intro div:first-child .profession span {
        font-size: 0.9em;
    }
    .intro-section .intro div:first-child .profession .slide-bg > span {
        display: flex;
        justify-content: center;
    }
    .intro-section .intro div:first-child .name {
        margin-top: 10px;
        font-size: 2em;
        text-align: center;
    }

    .intro-section .intro .intro-small-text {
        margin-top: 20px;
        margin-bottom: 4em;
        color: #a3a3a3;
        text-align: center;
    }
    .intro-section .intro .intro-small-text + div {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .intro-section .intro .intro-small-text + div a:last-child {
        margin-right: 0px;
    }

    .section-title-holder {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .section-title {
        color: var(--skinColor);
        margin-bottom: 30px;
        font-size: 1.5em;
        font-weight: 500;
        padding-left: 30px;
    }

    .section-title::after,
    .contact h1::after {
        content: "";
        display: inline-block;
        width: 8px;
        height: 8px;
        background-color: var(--skinColor);
        border-radius: 10px;
        position: absolute;
        left: 0;
        top: 35px;
    }
    /* .section-title::before {
        content: "";
        width: 30%;
        height: 2px;
        background-color: var(--skinColor);
        position: absolute;
        right: 0;
        top: 35px;
    } */

    /* About section */

    .about-section .info {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .about-section .info > div {
        width: 100%;
    }
    .about-section .about-work {
        order: 2;
    }
    .about-section .about-work .sect {
        margin-bottom: 5px;
        background-color: var(--darkLighter);
        padding: 10px;
        border-radius: 5px;
        width: 100%;
        height: 150px;
        overflow: hidden;
    }
    .about-section .about-work .sect:hover {
        box-shadow: 0px 40px 100px 0px var(--darkColor);
        z-index: 1;
    }
    .about-section .about-work .sect p {
        font-size: 15px;
    }
    .about-section .desc {
        order: 1;
    }
    .about-section .desc .about-desc {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 50px;
    }
    .about-section .about-desc p:first-child {
        font-size: 1.5em;
        font-weight: 500;
        color: var(--skinColor);
    }
    .about-section p {
        margin-bottom: 20px;
        font-size: 1.1em;
        font-weight: 400;
    }
    .tech-section {
        margin: 3em 0;
    }

    .tech-section .tech-holder {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 80vh;
        width: 100%;
        position: relative;
    }

    .tech-holder.active .techs .tech-1 span::before,
    .tech-holder.active .techs .tech-2 span::before,
    .tech-holder.active .techs .tech-3 span::before,
    .tech-holder.active .techs .tech-4 span::before,
    .tech-holder.active .techs .tech-5 span::before,
    .tech-holder.active .techs .tech-6 span::before,
    .tech-holder.active .techs .tech-7 span::before,
    .tech-holder.active .techs .tech-8 span::before {
        animation: techPulse 2s 2s ease-out infinite;
    }

    .tech-holder.active .techs .tech-9 span::before,
    .tech-holder.active .techs .tech-10 span::before,
    .tech-holder.active .techs .tech-11 span::before,
    .tech-holder.active .techs .tech-12 span::before {
        animation: techPulse 2s 3.3s ease-out infinite;
    }

    .pulse {
        width: 50px;
        height: 50px;
        /* background: linear-gradient(var(--darkLighter), var(--darkColor)); */
        background-color: var(--darkLighter);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .tech-holder.active .pulse::before {
        animation: pulse 4s 1s ease-out infinite;
    }
    .tech-holder.active .pulse::after {
        animation: pulse 4s 3s ease-out infinite;
    }
    @keyframes pulse {
        100% {
            transform: scale(12);
            opacity: 0;
        }
    }
    .pulse span img {
        width: 100%;
    }

    .techs {
        width: 250px;
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 0;
    }

    .techs .tech {
        width: 50px;
        height: 50px;

        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }
    .tech-holder.active .tech-1 {
        left: 100%;
        transition: all 0.2s 0.2s ease-in-out;
    }
    .tech-holder.active .tech-2 {
        left: 85%;
        top: 85%;
        transition: all 0.2s 0.3s ease-in-out;
    }
    .tech-holder.active .tech-3 {
        top: 100%;
        transition: all 0.2s 0.4s ease-in-out;
    }
    .tech-holder.active .tech-4 {
        top: 85%;
        left: 15%;
        transition: all 0.2s 0.5s ease-in-out;
    }
    .tech-holder.active .tech-5 {
        top: 50%;
        left: 0%;
        transition: all 0.2s 0.6s ease-in-out;
    }
    .tech-holder.active .tech-6 {
        top: 15%;
        left: 15%;
        transition: all 0.2s 0.7s ease-in-out;
    }
    .tech-holder.active .tech-7 {
        top: 0%;
        left: 50%;
        transition: all 0.2s 0.8s ease-in-out;
    }
    .tech-holder.active .tech-8 {
        top: 15%;
        left: 85%;
        transition: all 0.2s 0.7s ease-in-out;
    }
    .tech-holder.active .tech-9,
    .tech-holder.active .tech-10,
    .tech-holder.active .tech-11,
    .tech-holder.active .tech-12 {
        display: none;
    }
    .techs .tech span {
        width: 100%;
        height: 100%;
        padding: 10px;
        border-radius: 50%;
        background-color: var(--darkLighter);
        display: flex;
        justify-content: center;
        align-items: center;

        position: relative;
    }

    /* Projects */
    .projects-section .section-title-holder .section-title {
        font-size: 1.5em;
    }
    .projects-section .projects .project {
        padding-top: 10px;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
    }
    .projects-section .projects .project > div {
        width: 100%;
        padding: 0;
    }
    .projects-section .projects .project .pr-details {
        margin-bottom: 30px;
    }
    .projects-section .projects .project .pr-details h3 {
        font-size: 18px;
    }
    .projects-section .projects .project .pr-details .desc {
        font-size: 0.8em;
        margin: 0px;
    }

    /* Contact */
    .contact {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px;
    }
    .contact div {
        text-align: center;
    }
    .contact div h1 {
        display: inline-block;
        color: var(--skinColor);
        margin-bottom: 30px;
        font-size: 1.4em;
        font-weight: 500;
        padding-left: 30px;
    }

    .contact div p {
        margin-bottom: 50px;
    }
    .contact div .btn {
        margin: 0px;
    }
}

@media (min-width: 450px) {
    .tech-section p {
        padding-left: 80px;
    }
    .techs {
        width: 300px;
        height: 300px;
    }
    .tech-holder.active .tech-9,
    .tech-holder.active .tech-10,
    .tech-holder.active .tech-11,
    .tech-holder.active .tech-12 {
        display: block;
    }

    .tech-holder.active .tech-9 {
        top: 22.5%;
        left: 115%;
    }
    .tech-holder.active .tech-10 {
        top: 77.5%;
        left: 115%;
    }
    .tech-holder.active .tech-11 {
        top: 77.5%;
        left: -15%;
    }
    .tech-holder.active .tech-12 {
        top: 22.5%;
        left: -15%;
    }
}

@media (min-width: 600px) {
    .intro-section .intro {
        padding-left: 30px;
    }
    .intro-section .intro div:first-child .profession,
    .intro-section .intro .intro-small-text + div {
        justify-content: flex-start;
    }
    .intro-section .intro div:first-child .name,
    .intro-section .intro .intro-small-text {
        text-align: left;
    }
    section:not(.contact).section-title-holder {
        justify-content: flex-start;
    }
    .section-title {
        width: 100%;
    }
    .section-title::before {
        content: "";
        width: 30%;
        height: 2px;
        background-color: var(--skinColor);
        position: absolute;
        right: 0;
        top: 35px;
    }
    @keyframes pulse {
        100% {
            transform: scale(15);
            opacity: 0;
        }
    }
    .tech-holder.active .techs .tech-1 span::before,
    .tech-holder.active .techs .tech-2 span::before,
    .tech-holder.active .techs .tech-3 span::before,
    .tech-holder.active .techs .tech-4 span::before,
    .tech-holder.active .techs .tech-5 span::before,
    .tech-holder.active .techs .tech-6 span::before,
    .tech-holder.active .techs .tech-7 span::before,
    .tech-holder.active .techs .tech-8 span::before {
        animation: techPulse 2s 2.5s ease-out infinite;
    }

    .tech-holder.active .techs .tech-9 span::before,
    .tech-holder.active .techs .tech-10 span::before,
    .tech-holder.active .techs .tech-11 span::before,
    .tech-holder.active .techs .tech-12 span::before {
        animation: techPulse 2s 3.5s ease-out infinite;
    }
    .contact {
        padding: 0px 50px;
    }
}
@media (min-width: 600px) {
    .intro-section .intro {
        padding-left: 100px;
    }

    .techs {
        width: 400px;
        height: 400px;
    }
    .projects-section .projects {
        padding: 0px 80px;
    }
    .contact {
        padding: 0px 100px;
    }
}

@media (min-width: 770px) {
    /* Hide big screen navbar */
    .ham {
        display: none;
    }
    main .intro-section ul.btn-links {
        display: block;
        position: absolute;
        width: 30px;
        height: 30px;
        top: 80px;
        right: 0px;
    }
    main .intro-section ul.btn-links li {
        padding: 5px;
    }
    main .intro-section ul.btn-links li a {
        width: 100%;
        height: 100%;
        display: block;
    }
    main .intro-section ul.btn-links li a img {
        max-width: 100%;
        display: block;
    }

    .fixed-nav .navbar .nav {
        display: flex;
    }
    .fixed-nav .navbar .nav ul:nth-child(2) {
        display: none;
    }
    .fixed-nav .navbar .nav ul:first-child li:last-child {
        padding-right: 0px;
    }
    .about-section .info {
        padding: 0px 80px;
    }
}
