.logo {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--darkLighter);
    z-index: 200;
}
.logo div {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo.animate svg path#rec1,
.logo-animated svg path#rec1 {
    stroke-dasharray: 1100;
    stroke-dashoffset: 0;
    animation: logoAnimationRec1 1s linear;
    transform-origin: center center;
}
.logo.animate svg path#rec2,
.logo-animated svg path#rec2 {
    stroke-dasharray: 0;
    stroke-dashoffset: 1100;
    animation: logoAnimationRec2 1s linear;
}

/* @keyframes rotate {
    100% {
        transform: rotate(0deg);
    }
} */

@keyframes logoAnimationRec1 {
    0% {
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dashoffset: 1100;
    }
    100% {
        stroke-dashoffset: 2200;
    }
}

@keyframes logoAnimationRec2 {
    0% {
        stroke-dasharray: 550;
    }
    50% {
        stroke-dasharray: 1100;
    }
    100% {
        stroke-dasharray: 2200;
    }
}
